// Media
// Image Caption
$image-caption-font-family: $font-2 !default;
$image-caption-font-style: italic !default;
$image-caption-margin-top: (epub: .5em, prince: .5em, web: .5em) !default;
$image-caption-line-height: (prince: 1.4em, epub: 1.4em, web: 1.4em) !default;

// Interactive Content
$interactive-content-font-style: normal !default;
$interactive-content-margin-bottom: (prince: .5em, epub: .5em, web: .5em) !default;

$media-caption-align: (epub: center, prince: center, web: center) !default;

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/media';

// Add custom SCSS below these imports and includes.
@import 'components/media';

.wp-caption-text {
    margin-bottom: 0em;
}

@if $type == 'web' {
    .wp-caption-text {
        text-indent: 0em !important;
    }
}
