// Pages

@if $type == "epub" {
    $title-publisher-font-weight: normal !default;
    $title-publisher-city-font-weight: normal !default;
    $title-publisher-font-size: .9em !default;
    $title-publisher-city-font-size: .9em !default;
}

// Title Page Title
$title-title-font-size:(epub: 1.5em, prince: 1.25em, web: 1.25em) !default;
$title-title-letter-spacing: 1px !default;
$title-title-word-spacing: 2px !default;
$title-title-align: left !default;
$title-title-text-transform: uppercase !default;
$title-title-margin-top: (epub: 2em, prince: 4cm, web: 2em) !default;

// Title Page Subtitle
$title-subtitle-font-size:(epub: 1em, prince: 1em, web: 1em) !default;
$title-subtitle-margin-top: .5em !default;
$title-subtitle-font-family: $font-2 !default;
$title-subtitle-margin-left: 0 !default;
$title-subtitle-align: left !default;

// Title Page Author
$title-author-font-size:(epub: 1em, prince: 1em, web: 1em) !default;
$title-author-align: left !default;
$title-author-text-transform: uppercase !default;

// Title Page Publisher
$title-publisher-align: left !default;
$title-publisher-font-family: $font-2 !default;
$title-publisher-font-size: 1em !default;
$title-publisher-letter-spacing: normal !default;
$title-publisher-word-spacing: normal !default;
$title-publisher-font-weight: bold !default;
$title-publisher-margin-top: (epub: 0, prince: 1em, web: 0) !default;
$title-publisher-margin-bottom: (epub: 1.5em, prince: 2em, web: 2em) !default;
$title-publisher-margin-bottom: 2em !default;

// Title Page Publisher City
$title-publisher-city-align: left !default;
$title-publisher-city-font-family: $font-2 !default;
$title-publisher-city-font-size: 0.85em !default;
$title-publisher-city-letter-spacing: normal !default;
$title-publisher-city-word-spacing: normal !default;
$title-publisher-city-font-weight: bold !default;
$title-publisher-city-text-transform: normal !default;

//Dedication
$dedication-align: left !default;
$dedication-font-family: $font-2 !default;

//Epigraph
$epigraph-align: left !default;
$epigraph-font-family: $font-2 !default;

// Copyright
$copyright-font-family: $font-2 !default;
$copyright-margin-top: (epub: 2em, prince: 4cm, web: 2em) !default;

// Section License
$section-license-font-style: none !default;
$section-license-margin-top: 1em !default;

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/pages';

// Add custom SCSS below these imports and includes.
@import 'components/pages';

h1.title,
h2.subtitle {
    width: 70%;
}

h4.publisher,
h5.publisher-city {
    float: none;
}

.dedication .front-matter-title,
.epigraph .front-matter-title  {
    border-bottom: none !important;
}

@if $type == "epub" {
    h1.title,
    h2.subtitle {
        width: 100%;
    }
}
