@import '_font-stack-prince'; // Dynamically generated

$serif-prince: serif !default;
$sans-serif-prince: sans-serif !default;

$font-1: "Cardo", "Baskerville" , "Times", $serif-prince;
$font-2: "Old Standard TT", $serif-prince;
$font-3: $font-1;

@import "CardoFont";
@import "OldStandardTTFont";
