// Pages
@if $type == "epub" {

    $title-publisher-font-weight: normal !default;
    $title-publisher-city-font-weight: normal !default;
    $title-publisher-font-size: .9em !default;
    $title-publisher-city-font-size: .9em !default;
}

// Half Title Page
$title-half-title-align: left !default;

// Title Page Title
$title-title-margin-top: (epub: 2em, prince: 2cm, web: 3em) !default;
$title-title-font-size:(epub: 2em, prince: 2.5em, web: 1.75em) !default;
$title-title-align: left !default;
$title-title-font-weight: 300 !default;
$title-title-text-transform: uppercase !default;

// Title Page Subtitle
$title-subtitle-font-size:(epub: 1.5em, prince: 1.5em, web: 1.25em) !default;
$title-subtitle-margin-top: -.5em !default;
$title-subtitle-font-family: $font-2 !default;
$title-subtitle-margin-left: 0 !default;
$title-subtitle-align: left !default;
$title-subtitle-font-style: normal !default;
$title-subtitle-font-weight: 300 !default;

// Title Page Author
$title-author-align: left !default;
$title-author-text-transform: normal !default;
$title-author-letter-spacing: normal !default;
$title-author-word-spacing: normal !default;
$title-author-font-weight: 300 !default;

// Title Page Publisher
$title-publisher-font-size: 1em !default;
$title-publisher-align: left !default;
$title-publisher-font-family: $font-2 !default;
$title-publisher-letter-spacing: normal !default;
$title-publisher-word-spacing: normal !default;
$title-publisher-font-weight: bold !default;
$title-publisher-margin-top: (epub: 2em, prince: 2em, web: 2em) !default;

// Title Page Publisher City
$title-publisher-city-font-size: 0.9em !default;
$title-publisher-city-align: left !default;
$title-publisher-city-font-family: $font-2 !default;
$title-publisher-city-letter-spacing: normal !default;
$title-publisher-city-word-spacing: normal !default;
$title-publisher-city-font-weight: bold !default;
$title-publisher-city-text-transform: normal !default;

//Dedication
$dedication-align: left !default;
$dedication-font-family: $font-1 !default;

//Epigraph
$epigraph-align: left !default;
$epigraph-font-family: $font-1 !default;

// Copyright
$copyright-font-family: $font-2 !default;
$copyright-font-weight: 300 !default;

// Section License
$section-license-font-style: none !default;
$section-license-margin-top: 1em !default;

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/pages';

// Add custom SCSS below these imports and includes.
@import 'components/pages';

.title {
    line-height: 1.3em;
}

.publisher {
    float: none;
    margin-bottom: 2em;
    color: black;
}

.publisher-city {
    float: none;
    margin-top: 1em;
    color: black;
}

#copyright-page {
    margin-top: 2cm;
}

.license-attribution {
    margin-bottom: 1em;
}

@if $type == "epub" {
    #copyright-page {
        margin-top: 2em;
    }
}
