// Special Elements

// Section Breaks
$hr-margin-top: 1em !default;
$hr-margin-bottom: 1em !default;
$hr-break-symbols-font-size: 18pt !default;
$hr-break-symbols-margin-top: 1.75em !default;
$hr-break-symbols-margin-bottom: 2.5em !default;
$section-break-space-margin-top: 1.1em !default;
$section-break-margin-bottom: 1em !default;

// Dropcap
$first-character-font-family: $font-1 !default;
$first-character-font-size: 3em !default;
$first-character-font-weight: normal !default;

// Textboxes
$textbox-font-family: $font-2 !default;
$textbox-font-weight: 300 !default;
$textbox-line-height: 1.4em !default;
$textbox-margin-top: (epub: 2em, prince: 1em, web: 2em) !default;
$textbox-margin-bottom: (epub: 2em, prince: 1.25em, web: 2em) !default;
$textbox-margin-right: (epub:2em, prince: 0, web: 2em) !default;
$textbox-margin-left: (epub:2em, prince: 0, web: 2em) !default;
$textbox-padding-top: (epub:2em, prince: 1cm, web: 2em) !default;
$textbox-padding-right: (epub:2em, prince: 1cm, web: 2em) !default;
$textbox-padding-bottom: (epub:2em, prince: 1cm, web: 2em) !default;
$textbox-padding-left: (epub:2em, prince: 1cm, web: 2em) !default;
$textbox-ol-margin-bottom: 1em !default;
$textbox-ol-margin-top: 1em !default;
$textbox-text-align: justify !default;

$edu-header-font-size: 1.2em !default;
$edu-header-font-multiplier: 1.222222222 !default;
$edu-textbox-border-style: solid !default;
$edu-textbox-margin-right: (epub: 2em, prince: 0, web: 0em) !default;
$edu-textbox-margin-left: (epub: 2em, prince: 0, web: 0em) !default;

// Footnotes
$footnote-line-height: 1.2em !default;
$footnote-font-size: (epub: 0.9em, prince: 0.8rem, web: 0.9em) !default;

// PullQuotes
$pullquote-font-family: $font-2 !default;
$pullquote-padding-top: 0.425em !default;
$pullquote-padding-bottom: 0.425em !default;

// Columns
$column-threecolumn-text-align: justify !default;
$column-twocolumn-font-size: 0.8em !default;
$column-twocolumn-text-align: justify !default;

// Sidebar
$sidebar-font-size: 0.8em !default;
$sidebar-line-height: 1.5em !default;
$sidebar-padding-top: .75em !default;
$sidebar-padding-right: .75em !default;
$sidebar-padding-bottom: .75em !default;
$sidebar-padding-left: .75em !default;
$sidebar-margin-left: .75em !default;

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/specials';

// Add custom SCSS below these imports and includes.
@import 'components/specials';

.textbox ol,
.textbox ul {
  text-indent: 0;
  margin-right: 2em;
}
