// Section Titles
@if $type == 'epub' {
  $section-title-font-family: $font-2 !default;
  $section-title-font-weight: normal !default;

  $part-title-font-weight: normal !default;

  $section-subtitle-font-style: italic !default;
  $section-subtitle-font-weight: bold !default;
  $section-subtitle-font-family: $font-2 !default;

  $section-author-text-transform: normal !default;
  $section-author-font-style: normal !default;
  $section-author-font-family: $font-2 !default;

  $aphorism-align: right !default;
  $aphorism-cite-font-style: italic !default;
  $aphorism-cite-text-transform: normal !default;

  $front-matter-title-text-transform: normal !default;
}

@if $type == 'web' {
  $front-matter-title-text-transform: normal !default;
  $chapter-title-text-transform: normal !default;
}

// TOC Title
$toc-title-font-size: (
  epub: 2em,
  prince: 2.1em,
  web: 2em
) !default;
$toc-title-margin-top: (
  epub: 0em,
  prince: 0.67em,
  web: 3em
) !default;
$toc-title-margin-bottom:  (
  epub: 0.5em,
  prince: 2em,
  web: 2em
) !default;
$toc-title-text-transform: none !default;

// Front Matter
$front-matter-title-font-size: (
  epub: 1.5em,
  prince: 1.5em,
  web: 2em
) !default;
$front-matter-title-margin-top: (
  epub: 0,
  prince: 3.3em,
  web: 0
) !default;
$front-matter-title-margin-bottom:(
  epub: 1.7em,
  prince: 2.485em,
  web: 2em
) !default;

// Section Titles
// Header
$section-header-margin-top: (
    epub: 3em,
    prince: 3em,
    web: 3em
) !default;
$section-header-margin-bottom: (
  epub: 2em,
  prince: 2em,
  web: 2em
) !default;
$section-header-margin-left: (
  epub: 0,
  prince: .5em,
  web: 0
) !default;
$section-header-margin-right: (
  epub: 0,
  prince: .5em,
  web: 0
) !default;

// Title
$section-title-font-size: (
  epub: 2em,
  prince: 2em,
  web: 2em
) !default;
$section-title-font-weight: normal !default;
$section-title-align: center !default;
$section-title-font-family: $font-2 !default;
$section-title-text-transform: uppercase !default;
$section-title-margin-bottom: (
  epub: 1.25em,
  prince: 1.9em,
  web: 2em
) !default;

// Subtitle
$section-subtitle-font-style: italic !default;
$section-subtitle-font-weight: bold !default;
$section-subtitle-align: center !default;
$section-subtitle-font-family: $font-1 !default;
$section-subtitle-margin-bottom: (
  epub: 0,
  prince: 3em,
  web: 0
) !default;
$section-subtitle-font-size: (
  epub: 1em,
  prince: 1.2em,
  web: 1em
) !default;

// Author
$section-author-font-size: (
  epub: 1em,
  prince: 1em,
  web: 1em
) !default;
$section-author-margin-bottom: (
  epub: 1em,
  prince: 3em,
  web: 0
) !default;
$section-author-font-style: normal !default;
$section-author-align: center !default;
$section-author-text-transform: uppercase !default;
$section-author-font-family: $font-2 !default;

// Spacing
$section-subtitle-author-spacing: (
  epub: 1em,
  prince: 2.25em,
  web: 1em
) !default;
$section-title-subtitle-spacing: (
  epub: 1em,
  prince: 0.7em,
  web: 1em
) !default;
$section-title-author-spacing: (
  epub: 1em,
  prince: 0.8em,
  web: 1em
) !default;

// Parts
// Part Number
$part-number-align: center !default;
$part-number-font-family: $font-2 !default;
$part-number-font-weight: lighter !default;
$part-number-letter-spacing: normal !default;
$part-number-margin-bottom: (
  epub: 0.5em,
  prince: 0.9em,
  web: 1em
) !default;
$part-number-margin-top: (
  epub: -1em,
  prince: -2em,
  web: 0
) !default;
$part-number-font-size: (
  epub: 1.5em,
  prince: 1.5em,
  web: 1em
) !default;

// Part Title
$part-title-align: center !default;
$part-title-font-size: (
  epub: 2em,
  prince: 2em,
  web: 1.5em
) !default;
$part-title-margin-bottom: (
  epub: 0.5em,
  prince: 0.5em,
  web: 0
) !default;
$part-title-margin-top: (
  epub: 1em,
  prince: 0em,
  web: 0
) !default;
$part-title-margin-right: (
  epub: 0,
  prince: 15%,
  web: 0
) !default;
$part-title-margin-left: (
  epub: 0,
  prince: 15%,
  web: 0
) !default;

// Chapters
// Chapter Number
$chapter-number-align: center !default;
$chapter-number-font-family: $font-2 !default;
$chapter-number-font-weight: normal !default;
$chapter-number-font-size: (
  epub: 1.5em,
  prince: 1.5em,
  web: 1em
) !default;
$chapter-number-margin-top: (
  epub: 2em,
  prince: 3.5em,
  web: 0
) !default;
$chapter-number-margin-bottom: (
  epub: 0.5em,
  prince: 1em,
  web: 1em
) !default;
$chapter-number-after-content: '' !default;

// Chapter Title
$chapter-title-font-size:(
  epub: 5em,
  prince: 5em,
  web: 1.5em
) !default;
$chapter-title-margin-top:(
  epub: 1em,
  prince: 0em,
  web: 0
) !default;
$chapter-title-margin-bottom: (
  epub: 1.25em,
  prince: 1.5em,
  web: 2em
) !default;
$chapter-title-margin-right: (
  epub: 0,
  prince: 1em,
  web: 0
) !default;
$chapter-title-margin-left: (
  epub: 0,
  prince: 1em,
  web: 0
) !default;
$chapter-title-text-transform: $section-title-text-transform !default;

// Chapter Title Decoration
$chapter-title-decoration-font-family: $font-3 !default;
$chapter-title-decoration-display: none !default;
$chapter-title-decoration-content: "\a W" !default;
$chapter-title-decoration-font-size: 1em !default;
$chapter-title-decoration-font-weight: normal !default;
$chapter-title-decoration-margin-bottom: 0em !default;
$chapter-title-decoration-margin-top: 1em !default;

// Aphorism
$aphorism-margin-top: (
  epub: 0,
  prince: -2.15em,
  web: 0
) !default;
$aphorism-margin-bottom: (
  epub: 3.5565945237549em,
  prince: 1em,
  web: 0
) !default;
$aphorism-margin-right: (
  epub: auto,
  prince: auto,
  web: auto
) !default;
$aphorism-margin-left: (
  epub: auto,
  prince: auto,
  web: auto
) !default;
$aphorism-indent: (
  epub: 0,
  prince: 0em,
  web: 0
) !default;
$aphorism-font-size: (
  epub: small,
  prince: 0.8em,
  web: 0.9em
) !default;
$aphorism-font-style: normal !default;
$aphorism-font-family: $font-2 !default;
$aphorism-font-weight: lighter !default;
$aphorism-line-height: 1.2em !default;
$aphorism-text-transform: none !default;
$aphorism-block-width: (
  epub: 100%,
  prince: 70%,
  web: 60%
) !default;

// Aphorism Cite
$aphorism-cite-font-size: (
  epub: 1em,
  prince: 0.7em,
  web: 0.9em
) !default;
$aphorism-cite-font-style: normal !default;
$aphorism-cite-font-variant: normal !default;
$aphorism-cite-font-weight: lighter !default;
$aphorism-cite-text-transform: uppercase !default;
$aphorism-cite-align: right !default;
$aphorism-cite-margin-right: (
  epub: 0,
  prince: 0em,
  web: 0
) !default;
$aphorism-cite-before-content: '\2014' !default;
$aphorism-cite-font-family: $font-2 !default;

// Back Matter
$back-matter-title-margin-top:(
  epub: 0,
  prince: 2cm,
  web: 0
) !default;
$back-matter-title-font-size: (
  epub: 1.5em,
  prince: 1.5em,
  web: 1.5em
) !default;
$back-matter-title-text-transform: normal !default;
$back-matter-title-margin-bottom: (
  epub: 1.5em,
  prince: 2.5em,
  web: 2em
) !default;

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/section-titles';

// Add custom SCSS below these imports and includes.
@import 'components/section-titles';

h2.chapter-title::after{
  color: #a4a4a4;
}

.aphorism,
blockquote.aphorism {
  font-weight: lighter;
  text-transform: none;
  overflow-wrap: break-word;
  line-height: 1.65em;
  cite {
    font-weight: lighter;
  }
}

.front-matter-title-wrap, .part-title-wrap, .chapter-title-wrap, .back-matter-title-wrap {
  overflow-wrap: normal;
}
