export INPUT_TRIGGERED_BY="pressbooks/fake-plugin"
export INPUT_BRANCH="refs/heads/dev"
export AWS_SQS_ARN_DEV=""
export AWS_SQS_ARN_STAGING=""
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
node ../index.js