// Media
// Images
@if $type == 'epub' {
    $image-caption-text-align: center !default;
}

// Image Caption
$image-caption-font-family: $font-2 !default;
$image-caption-line-height: (prince: 1.5em, epub: 1.5em, web: 1.5em) !default;
$image-caption-margin-top: (epub: 0, prince: .5em, web: 0) !default;
$image-caption-text-indent: (epub: 0, prince: 0, web: 0) !default;

// Interactive Content
$interactive-content-font-style: normal !default;
$interactive-content-margin-bottom: (prince: .5em, epub: .5em, web: .5em) !default;

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/media';

// Add custom SCSS below these imports and includes.
@import 'components/media';

.wp-caption-text {
    margin-bottom: 0;
}

@if $type == 'epub' {
    img {
        margin-top: .5em;
        margin-bottom: .5em;
    }

    .wp-caption-text {
        margin-top: 0;
        margin-bottom: 0;
    }
}
