@import '_font-stack-web'; // Dynamically generated

$serif-web: serif !default;
$sans-serif-web: sans-serif !default;

$font-1: "Crimson Text", "Baskerville", "Times", $serif-web;
$font-2: "Lato", "Helvetica", $sans-serif-web;
$font-3: $font-1;

@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Crimson+Text:400,400italic,700,700italic");
