@import '_font-stack-epub'; // Dynamically generated

$serif-epub: serif !default;
$sans-serif-epub: sans-serif !default;

$font-1: "Open Sans", "Helvetica", $sans-serif-epub;
$font-2: "Open Sans", "Helvetica", $sans-serif-epub;
$font-3: "Noticia Text", $serif-epub;

@import "OpenSansFont";
@import "NoticiaTextFont";