@import '_font-stack-epub'; // Dynamically generated

$serif-epub: serif !default;
$sans-serif-epub: sans-serif !default;

$font-1: "Palatino", "Times", $serif-epub;
$font-2: "Covered By Your Grace", $serif-epub;
$font-3: $font-1;

@import "CoveredByYourGraceFont";
