$type: "web";

@import "mixins";

@import "fonts-web";

@import "tables";

@import "textboxes";

//======================
//SASS:FONTS
//======================

/*GENERAL STYLING */
#content {
    font-family: $font-1;
    font-size: 1.1em;
    line-height: 1.5;
    font-weight: 400;
    color: #2E2E2E;

    .entry-content a {
        text-decoration: none;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $font-1;
        line-height: 1.1;
        margin-top: 1.9em;
        font-weight: normal;
        text-align: left;
    }

    h1 {
        @include head1;
    }

    h2 {
        @include head2;
    }

    h3 {
        @include head3;
    }

    h4 {
        @include head4;
    }

    h5 {
        @include head5;
    }

    h6 {
        @include head6;
    }

    div.ugc h1 + p,
    div.ugc h2 + p,
    div.ugc h3 + p,
    div.ugc h4 + p,
    div.ugc h5 + p {
        margin-top: 0;
    }

    /* SEPARATORS */

    div.ugc h3.section-break {
        text-align: center;
        text-indent: 0;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    div.ugc h3.section-break-space {
        visibility: hidden;
        margin-top: 1em;
        line-height: 1;
        margin-bottom: 0em;
    }

    div.ugc h3.section-break-page {
        text-align: center;
        text-indent: 0;
        margin-top: 1em;
        margin-bottom: 1em;
        page-break-after: always;
    }

    /****************************************
      TOC, Author page, Book Page
    *****************************************/

    #inline-toc h4 {
        font-family: inherit;
        font-size: 1em;
        font-weight: bold;
        text-align: left;
        text-transform: none;
    }

    .page-title {
        font-weight: normal;
    }

    /****************************************
      Structure
    *****************************************/

    /****************************************
      Title, Subtitle, Authors & Aphorism
    *****************************************/
    .entry-title {
        @include chaptertitle;

        padding-bottom: 2em;
        display: block;
    }

    .entry-title span {
        @include chapternumber;

        font-size: 0.75em;
        display: block;
    }

    .chapter_subtitle {
        @include chaptersubtitle;

        margin-top: 1em;
        margin-bottom: 3em;
    }

    .chapter_author {
        @include chapterauthor;

        margin-top: 1em;
        margin-bottom: 3em;
    }

    .chapter_subtitle + .chapter_author {
        margin-top: -2em;
    }

    .aphorism {
        @include chapteraphorism;

        margin-top: 1em;
        margin-bottom: 2em;
        margin-right: 30%;
        padding: 0;
    }

    .aphorism cite {
        float: none;
    }

    .aphorism cite::before {
        content: "\2014";
    }

    /*************************
      Footnotes & Endnote
    **************************/
    .endnotes h3 {
        text-align: left;
        text-indent: 0;
        text-transform: none;
    }

    .textbox,
    .textbox2 {
        @include textboxtext;

        line-height: 1.5;
        margin: 1em 0 1em 0;
    }

    .shaded {
        background-color: $color6 !important;
    }

    .book-title {
        @include booktitle;

        font-family: $font-1 !important;
        font-weight: normal !important;
        letter-spacing: none !important;
        word-spacing: none !important;
    }

    .pullquote,
    .pullquote-left,
    .pullquote-right {
        @include pullquotetext;
    }

    ol {
        list-style-position: outside !important;
    }

    blockquote {
        @include blockquotetext;
    }

    .wp-caption-text {
        @include wpcaptiontext;
    }

    img {
        max-width: 100%;
    }

    @include tables;
    @include textboxes;
}
